@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "roboto"sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    bottom: 2%;
    box-shadow:0 0 10px rgba(0 ,0, 0.1 ) ;
    position:sticky;
    top: 2;
    z-index: 10;
}
nav{
    position: fixed;
}
h4{
    position: relative;
  bottom: 3.8rem;
    left: 17rem;
    color: rgb(107, 107, 107);
}
a{
    text-decoration: none;
    color: #5a5a5a;
}
img{
    cursor: pointer;
}
.center-side .search-box{
    border: 1px solid #aaa;
    margin-right: 13px;
    padding: 8px 12px;
    border-radius: 25px;
}
.center-side .search-box input{
    width: 500px;
    border: 0;
    outline: 0;
    background-color: transparent;
}
.right-side img{
    width: 35px;
    margin-right: 20px;
}
.left-side .menu{
    width: 25px;
    margin-right: 25px;
}
.left-side .logo{
    width: 125px;

}
.flex{
    display: flex;
    align-items: center;
}
.voice{
    width: 20px;
}
    /* ---------------sidebar-------------------- */
.side-bar{
    padding: 10px;
    margin-left: 2%;
    width: 15%;
}   
.side-bar p{
    padding: 0 5px;
} 
.sidebar-images a img{
width: 25px;
padding: 4px;
}
.sidebar-images a{
display: flex;
align-items: center;
padding: 5px;
}
hr{
    border: .2;
    width: 85%;
    color: #eee5e5;
}
.subscriber{
    margin-top: 1rem;
}
.subscriber h3{
    font-family: 'Segoe UI',;
    font-size: 20px;
    padding: 20px 0;
}
.subscriber img{
    width: 35px;
    border-radius: 50%;    
}
.subscriber a{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.subscriber p{
    padding: 0 5px;
}
.banner{
   
padding-top:15px;
padding-left: 5%;
padding-bottom: 20px;
padding-right: 2%;
}
.banner-images{
    width: 100%;
}
 .banner-images img{
    width: 100%;
    border-radius: 8px;
} 

.small-sidebar{
    width: 5%;
}
.small-sidebar p{
display: none;
}
.small-sidebar h3{
    display: none;
}
.small-sidebar hr{
    width: 50%;;
}
.parent{
    display: flex;
    
}
.small-pick img{
    width: 52px ;
    border-radius: 50%;

}
.name h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.name p{
    display: inline;
}
.vidlist a img{
    width: 245px;
    border-radius: 10px;
}
.vidlist{
    flex: start;
    width: 245px;
    
}    
.name h3{
    padding-left: 3rem;
}
.name p{
padding-left: 3rem;
}
.small-pick p{
    padding-left: 3px;
}
.container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-column-gap: 16px; 
    grid-row-gap:30px;
    margin-top: 15px;
    padding-top:15px;
padding-left: 19%;
padding-bottom: 20px;
padding-right: 2%;
position:relative;
bottom: 22.5rem;
}
.larg-container{
    padding-left: 11%;
    padding-top: 5rem;
}
@media (max-width: 900px){
    .right-side{
display: none;
    }
    .banner img{
        padding-left: 3rem;
        height: 8rem;
        width: 14rem;
    }
    .container{
        position: relative;
        bottom: 32rem;
        left: 3.7rem;
    }
    .center-side .search-box input
    {
        width: 7rem;
    }
.center-side .voice{
display: none;
    }
.left-side .logo{
    width: 5rem;
    
}    
}


/* next------------------------------------------------------------------- page */
.grid{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-column-gap: 16px; 
    grid-row-gap:30px;
    margin-top: 15px; 
}
.play{
    padding-left: 2%;
}
.video-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.play-video{
    flex-basis: 68%;
}
.play-video video{
    width:100%;
}
.video-right-side{
flex-basis: 30%;
}
.image{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    padding-right: 3rem;
    gap: 1rem;
}
.image img{
    width: 100%;
    border-radius: 10px;
}

.small img{
    border-radius: 50%;
    width: 3rem;
}
.new{
    display: block;
}
.info h3{
display: block;
}
.info span{
    color: #5a5a5a;
    padding:2rem 0;
}

.tags a{
    color: blue;
    padding: 0 3px;
    font-size: 16px;
}
.play-video h3{
    font-weight: 600;
    font-family: "Roboto";
    font-size: 1rem;
    
}
.like-image img{
    width: 22px;
}
.tags-imags{
    display: flex;
}
.vivews{
color: #5a5a5a;
padding-top: 12px;
}
.like-image{
    margin-left: auto;
}
.like-image a img{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    padding-left :18px ;
    padding-right: 8px;
    padding-top: 12px;
}
.tags-imags hr{
    border: none;
    height: 1px;
    color: #5a5a5a;
    padding-top: 3px;
    width: 100rem;
}
.channel img{
    width: 50px;
}
.channel{
    display: flex;
}
.channel span{
    color: #4b4242;
    font-size: 10px;
}
.channel p{
    color: black;
    font-size: 1rem;
    font-weight: 500;
}
.channel a button{
    width: 7rem;
    height: 2rem;
    margin-left: 2rem;
    border-radius: 15px;
    border: none;
    color: #fff;
    background-color: #000000;
    cursor: pointer;
}
.channel a button:hover{
    background-color: #5a5a5a;
}
.open{
    width: 100%;
    height: 50px;
    margin-top: 2rem;
    background-color: #e3e3e3;
}
.comment{
    display: flex;
    margin-top: 7rem;
    margin-left: 5%;
}
.comment .menu img{
    width: 15px;
    padding-left: 2rem;
}
.menu h6{
    padding-left: 2rem;
}
.input{
    display: flex;
    margin-left: 5%;
    align-items: center;
}
.input .comment-image img{
    width: 45px;
    border-radius: 49%;
}
.input input{
    width: 100%;
    margin-top: 4px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:2px black solid;
    outline: none;
    border-top: none;
    padding-left: 5%;
}
.peopelcmnt{
    display: flex;
    padding-left: 5%;
    padding-top: 5rem;
}
.peopelcmnt .image img{
    width: 33px;
    border-radius: 49%;
    }
.replay span{
    font-size: 14px;
    color: #4b4242;
}
.replay{
    margin-left: -2.5rem;
}
.bad img{
    width: 20px;
    color: white;
    padding: 3px;
    background-color: #fff;
}
.bad{
    padding-left: 10%;
}

@media(max-width:900px){
    .play-video video{
        width: 90%;
    }
    .grid{
    display: block;    
    }
    .channel img{
        width: 35px;
    }
    .channel span{
        display: none;
    }
    .channel a button{
        width: 5rem;
        margin-right: 50px;
    }
    .like-image{
        width: 15px;
        display: flex;
        margin-right: 34rem;
    }
    .like-image a img{
        width: 15px;
    }
    .channel p{
        font-size: 2vh;
    }
    .bad img{
        display: none;
    }
    .video-right-side{
        width: 100%;
    }
    .video-right-side a img{
        
    }
    .image{
        width: 90vw;
    }
    .replay{
        display: none;
    }
}
